<nav>
  <a id="navbar_logo">Gym Tracker - Arms Day Log</a>
</nav>
<br></br>
<table>
  <tr>
    <th>Chest Press</th>
    <th>Shoulder Press</th>
    <th>Row/Rear Deltoid</th>
    <th>Pull Down</th>
    <th>Rear Deltoid</th>
    <th>Pectoral Fly</th>
    <th>Assisted Chin Up</th>
    <th>Assisted Dips</th>
  </tr>
  <tr>
  <%= form_with model: @arm do |form| %>
    <td><%= form.text_field :chest_press, placeholder: "lb" %></td>
    <td><%= form.text_field :shoulder_press, placeholder: "lb" %></td>
    <td><%= form.text_field :row_rear_deltoid, placeholder: "lb" %></td>
    <td><%= form.text_field :pull_down, placeholder: "lb" %></td>
    <td><%= form.text_field :rear_deltoid, placeholder: "lb" %></td>
    <td><%= form.text_field :pectoral_fly, placeholder: "lb" %></td>
    <td><%= form.text_field :assisted_chin_up, placeholder: "lb" %></td>
    <td><%= form.text_field :assisted_dips, placeholder: "lb" %></td>
    <td><%= form.submit %></td>
  <% end %>  
  </tr>
</table>
<br></br>
  <table>
    <tr>
      <th>Chest Press</th>
      <th>Shoulder Press</th>
      <th>Row/Rear Deltoid</th>
      <th>Pull Down</th>
      <th>Rear Deltoid</th>
      <th>Pectoral Fly</th>
      <th>Assisted Chin Up</th>
      <th>Assisted Dips</th>
    </tr>
    <% @arms.each do |arm| %>
      <tr>
        <td><%= arm.chest_press %> lb</td>
        <td><%= arm.shoulder_press %> lb</td>
        <td><%= arm.row_rear_deltoid %> lb</td>
        <td><%= arm.pull_down %> lb</td>
        <td><%= arm.rear_deltoid %> lb</td>
        <td><%= arm.pectoral_fly %> lb</td>
        <td><%= arm.assisted_chin_up %> lb</td>
        <td><%= arm.assisted_dips %> lb</td>
        <td><%= link_to "Edit", edit_arm_path(arm), class: "button" %></td>
        <td><%= link_to "Delete", arm_path(arm), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "button" %></td>
      </tr>
    <% end %>
  </table>
<br></br>
<%= link_to "Create a New Arms Day Log", new_arm_path, class: "button" %>
<br></br>
<%= link_to "Return to Home Page", "/", class: "button" %>