<div id="stair-master-creation-container">
    <%= form_with model: @stair_master do |form| %>
        <%= form.text_field :distance, placeholder: "# steps" %>
        <%= form.text_field :time, placeholder: "minutes" %>
        <%= form.text_field :pace, placeholder: "steps/minute" %>
        <%= form.submit %>
    <% end %>  
</div>